* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

header{
    background-color: red;
    background-image: url(../assets/img/1366_2000.webp);
}
.titulo-principal {
    text-align: center;
    padding: 10vh 0; 
    font-size: 3.125rem;
}
.titulo-principal h1{
    padding: 1.875rem;
    color: blueviolet;
}
.titulo-principal p{
    padding: 1.25rem;
    font-size: 1.875rem;
    color: blueviolet;
}
main{
    background-color: black;
}
.titulo-planes {
    text-align: center;
    color: white;
    font-size: 1.5625rem;
padding: 10vh;
}
.contenedor-cards{
    display: flex;
    flex-direction: row;
    margin: .9375rem;
    padding: .625rem;
    width: 100%;
}
.card{
    color: white;
    width: 30%;
    margin: auto;
}
.formulario{
    background-color: blueviolet;
    width: 100%;
    padding: 3.125rem;
    text-align: center;

}
.formulario h2{
    padding: .9375rem;
}
#elijasuplan{
    width:50%;
    font-size: 1.25rem;
}
#elijalacantidaddemeses{
    width: 50%;
    font-size: 1.25rem;
}
#totalapagar{
    font-size: 1.25rem;
}
.boton-calcular{
    font-size:1.25rem;
     margin: .625rem;
}
.mensaje{
    background-color: blueviolet;
    text-align: center;
    color: aliceblue;
}


.contratarPlan {
    display: none;
    text-align: center;
    color: aliceblue;

}